.header {
  height: 4.5rem;
  width: 100%;
  display: flex;
  background-color: var(--bg-white);
  position: fixed;
  z-index: 12;
  transition: all 0.3s ease-out;
  border-bottom: 1px solid #E9EBF0;
  justify-content: space-between;
  align-items: center;
  padding: 0rem 1rem;

  &__logo-menu,
  &__profile-actions {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 0px 1.25rem;
  }

  &__logo {
    width: 6rem;
    height: auto;
  }

  &__profile-picture {
    border-radius: 50%;
    width: 2.5rem;
    height: 2.5rem;
    background-color: #2980b9;
    display: flex;
    color: whitesmoke;
    align-items: center;
    justify-content: center;
  }

  &__profile-initial {
    text-align: center;
  }

  &__profile-thumb {
    border-radius: 50%;
    width: 2.5rem;
    height: 2.5rem;
  }

  @media (max-width: 575.98px) {
    &__logo-menu {
      justify-content: space-between;
      flex-direction: row-reverse;
      width: 100%;
    }

    &__profile-actions {
      display: none;
    }
  }

  @media (min-width: 576px) {
    &__logo-menu {
      flex-direction: row;
    }
  }

  @media (min-width: 992px) {
    display: none;
  }
}

.nav {
  &__list {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  &__list-item--dropdown img {
    filter: opacity(0.5);
  }

  &__link {
    color: var(--colors-text-secondary-dark-00);
    font-size: var(--font-small);
    display: block;
  }
}
