<ng-container *ngIf="isExpanded$ | async as isExpandedValue"></ng-container>

<aside class="aside-menu" [ngClass]="{'aside-menu--collapsed': !isExpanded(), 'aside-menu--expanded': isExpanded()}">
  <div class="aside-menu__content aside-menu__content--fixed">

    <section class="aside-menu__logo">
      <div>
        <img *ngIf="isExpanded()" class="aside-menu__logo-img" [src]="icons['logoName'].path" [alt]="icons['logoName'].alt">
        <img *ngIf="!isExpanded()" class="aside-menu__logo-img" style="cursor:pointer;" (click)="toggleSidebar()"
          (keypress)="toggleSidebar()" [src]="icons['logoK'].path" [alt]="icons['logoK'].alt">

        <button (click)="toggleSidebar()" *ngIf="isExpanded()" class="v1-button transparent-white-theme">
          <img class="v1-button__img button_x" [src]="icons['bluePlus'].path" [alt]="icons['bluePlus'].alt">
        </button>
      </div>
    </section>

    <nav class="aside-menu__nav" aria-label="nav-menu">
      <ul class="aside-menu__list">
        <ng-container *ngFor="let menuItem of menuItems">
          <ng-container
            *ngTemplateOutlet="menuItem.link && !menuItem.subMenus ? noNestedMenuItem : nestedMenuItem"></ng-container>

          <ng-template #noNestedMenuItem>
            <li *ngIf="menuItem.title !== 'Configuración'" class="aside-menu__list-item">
              <a style='cursor:pointer;' class="aside-menu__link" [routerLink]="menuItem.link">
                <span class="aside-menu__icon">
                  <img [src]='menuItem.iconPath' alt="Menu item icon">
                </span>

                <span class='aside-menu__title' *ngIf="isExpanded()">{{ menuItem.title }}</span>
              </a>
            </li>
          </ng-template>

          <ng-template #nestedMenuItem>
            <li *ngIf="menuItem.title !== 'Configuración'">
              <p class="aside-menu__link" (keypress)="toggleExpansion(menuItem)" (click)="toggleExpansion(menuItem)">
                <span class='aside-menu__icon'>
                  <img [src]='menuItem.iconPath' alt="Menu item icon">
                </span>

                <span class='aside-menu__title' *ngIf="isExpanded()">{{ menuItem.title }}</span>
                <img *ngIf="isExpanded()" class="aside-menu__drop-menu" [src]="icons['dropMenu'].path" [alt]="icons['dropMenu'].alt" />
              </p>

              <ul class="aside-menu__sub-list" [ngStyle]="menuItem.expanded && isExpanded() ? {'opacity': 1, 'height': 'fit-content'} : null">
                <li class="aside-menu__sub-list-item" *ngFor="let subMenuItem of menuItem.subMenus">
                  <a [href]='subMenuItem.link' class="aside-menu__sub-link">
                    <span class='aside-menu__sub-icon'>
                      <img [src]='subMenuItem.iconPath' alt="Sub menu item icon">
                    </span>

                    {{ subMenuItem.title }}
                  </a>
                </li>
              </ul>
            </li>
          </ng-template>
        </ng-container>
      </ul>
    </nav>

    <section class="aside-menu__configuration">
      <nav class="aside-menu__nav" aria-label="nav-second-menu">
        <ul class="aside-menu__list">
          <ng-container *ngFor="let menuItem of menuItems">
            <li *ngIf="menuItem.title === 'Configuración'" class="aside-menu__list-item">
              <a style='cursor:pointer;' class="aside-menu__link" [routerLink]="menuItem.link">
                <span class="aside-menu__icon">
                  <img [src]='menuItem.iconPath' alt="Menu item icon">
                </span>

                <span class='aside-menu__title' *ngIf="isExpanded()">{{ menuItem.title }}</span>
              </a>
            </li>
          </ng-container>
        </ul>
      </nav>
    </section>

    <footer class="aside-menu__footer">
      <section class="aside-menu__profile">
        <a [ngStyle]="{'margin-right': isExpanded() ? '12px' : '0'}" href="#" class="aside-menu__profile-picture">J</a>
        <div class="aside-menu__profile-data" *ngIf="isExpanded()">
          <p [title]="'profileName'" class="aside-menu__profile-name">profileName</p>
          <p [title]="'profileEmail'" class="aside-menu__profile-email">profileEmail</p>
        </div>
        <button *ngIf="isExpanded()" class="log-in-button">
          <img [src]="icons['logIn'].path" [alt]="icons['logIn'].alt">
        </button>
      </section>

      <p class="aside-menu__version">© Kashio 2017-2024 <br> v x.x.x.x</p>
    </footer>

  </div>
</aside>
